.inLine{
    display: inline-block;
    vertical-align: top;
}
img{
    width: 5vw;
    border-radius: 50%;
    margin-top: 3px;
}
.name{
    margin-left: 1vw;
    width: 20vw;
}
.name-header{
    margin-left: 6vw;
}
.email{
    width: 25vw;
}
.phone{
    width: 15vw;
}
.premium{
    width: 10vw;
}
.bid{
    width: 15vw;
}
div{
    padding: 5px 0;
}
.row{
    background-color: lightcyan;
}
.row:nth-child(odd){
    background-color: lightblue
}
